<!DOCTYPE html>
<html>

<%- include('partials/head') %>

    <body>

        <%- include('partials/header') %>

            <main>
                <h3>Alta de Producto</h3>
                <section class="ultima-visita">



                    <form action="/products/store" method="POST" enctype="multipart/form-data">

                        <% if (locals.erroresControlados ) { %>



                            <% for( let i in erroresControlados ) { %>

                                <p>
                                    <%= erroresControlados[i].msg %>
                                </p>

                                <% } %>


                                    <% } %>

                                        <div class="field">
                                            <label for="name">Nombre</label>
                                            <div class="control">
                                                <input type="text" name="name"
                                                    value="<%= locals.camposDevueltos ? camposDevueltos.name : null %> ">

                                            </div>
                                            <div class="danger">

                                                <% if (locals.erroresControlados && erroresControlados.name) { %>
                                                    <p>
                                                        <%= erroresControlados.name.msg %>
                                                    </p>
                                                    <% } %>


                                            </div>
                                        </div>

                                        <div class="field">
                                            <label for="image">Imagen</label>
                                            <div class="control">
                                                <input type="file" name="image">
                                            </div>

                                            <% if (locals.erroresControlados && erroresControlados.image) { %>
                                                <p>
                                                    <%= erroresControlados.image.msg %>
                                                </p>
                                                <% } %>

                                        </div>

                                        <div class="field">
                                            <label for="price">Precio</label>
                                            <div class="control">
                                                <input type="text" name="price"
                                                    value="<%= locals.camposDevueltos ? camposDevueltos.price : null %> ">
                                            </div>
                                            <div class="danger">
                                                <!--   cuidado con el If -->

                                                <% if (locals.erroresControlados && erroresControlados.price) { %>
                                                    <p>
                                                        <%= erroresControlados.price.msg %>
                                                    </p>
                                                    <% } %>


                                            </div>

                                        </div>

                                        <div class="field">
                                            <label for="descuento">descuento</label>
                                            <div class="control">

                                                <input type="text" name="descuento"
                                                    value="<%= locals.camposDevueltos ? camposDevueltos.price : null %> ">
                                            </div>
                                            <div class="danger">
                                    

                                                <% if (locals.erroresControlados && erroresControlados.descuento) { %>
                                                    <p>
                                                        <%= erroresControlados.descuento.msg %>
                                                    </p>
                                                    <% } %>


                                            </div>

                                        </div>





                                        <div class="field">
                                            <div class="control">
                                                <button type="submit">Crear producto</button>
                                            </div>
                                        </div>
                    </form>



                    </div>
                </section>

                <%- include('partials/footer') %>

                <section>
                    <article>
                        <h5 class="h5">Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
                    </article>
                </section>
        </body>
        
        </html>