<!DOCTYPE html>
<html>

    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>


        <main>
            <div class="divmain">
                <section>

                    <section class="ultimaVisita">   </section>
                    <h3>Basado en tu última visita</h3>

                    <div class="contentArticles">
                     
                        <% products.forEach(product => { %>
                            <%- include('partials/product', { product }) %>
                        <% })%>

                        
                        </article>
                    </div>
                </section>

                <section>

                    <h3>Ofertas</h3>

                    <% products.forEach(product => { %>
                        <%- include('partials/product', { product }) %>
                    <% })%>

                    
                    </div>
                </section>
            </div>
        </main>

        <%- include('partials/footer') %>

        <section>
            <article>
                <h5 class="h5">Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
            </article>
        </section>
</body>

</html>